{% extends 'base.html' %}

{% block heading %}More Challenges with Bootstrap Forms{% endblock %}

{% block content %}
<div class="row justify-content-center border-bottom">
    <div class="col-4 d-flex justify-content-center border border-primary">
        <div class="input-group">
            <span class="input-group-text">KES</span>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<div class="row my-2 border-bottom justify-content-center">
    <p class="text-center">For horizontal checkboxes, you need form-check-inline</p>
    <div class="col-6 align-items-center d-flex justify-content-center border">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="check1">
            <label for="check1">check 1</label>
        </div>
        <div class="form-check form-check-inline ms-2">
            <label for="check2">check 2</label>
            <input class="form-check-input" type="checkbox" id="check2">
        </div>
    </div>
</div>

<div class="row my-2 justify-content-center border-bottom">
    <div class="col-3 d-flex justify-content-center">
        <div class="input-group">
            <span class="input-group-text">Label 1</span>
            <input type="text" class="form-control">
        </div>
        <div class="d-grid">
            <button class="btn btn-primary">click me</button>
        </div>
    </div>
    <div class="col-3 d-flex justify-content-center">
        <div class="input-group">
            <span class="input-group-text">Label 2</span>
            <input type="text" class="form-control">
        </div>
        <div class="d-grid">
            <button class="btn btn-primary">click me</button>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center border-bottom">
    <div class="col-3 d-flex justify-content-center">
        <div class="input-group">
            <span class="input-group-text">Label 1</span>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-3 d-flex justify-content-center">
        <div class="input-group">
            <span class="input-group-text">Label 2</span>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row mb-2 justify-content-center border-bottom">
    <div class="col-3 d-grid">
        <button class="btn btn-primary">click me</button>
    </div>
    <div class="col-3 d-grid">
        <button class="btn btn-primary">click me</button>
    </div>
</div>

<div class="row my-2 border-bottom justify-content-center">
    <p class="text-center border">Checkboxes - will these align center? Each have their own &lt;div class="form-check"&gt;</p>
    <div class="col-6 border">
        <div class="input-group d-flex justify-content-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check3">
                <label for="check3">Check 3</label>
            </div>
            <div class="form-check form-check-inline">
                <label for="check4">Check 4</label>
                <input class="form-check-input" type="checkbox" id="check4">
            </div>
        </div>
    </div>
</div>

<div class="row my-2 border-bottom justify-content-center">
    <p class="text-center">For horizontal checkboxes, you need form-check-inline</p>
    <div class="col-6 align-items-center d-flex justify-content-center border">
        <div class="form-check form-check-inline">
            <span type="input-group-text">Check 5</span>
            <input class="form-check-input" type="checkbox" id="check1">
        </div>
        <div class="form-check form-check-inline ms-2">
            <span type="input-group-text">Check 6</span>
            <input class="form-check-input" type="checkbox" id="check2">
        </div>
    </div>
</div>

<div class="row my-2 border-bottom justify-content-center">
    <p class="text-center">For horizontal checkboxes, you need form-check-inline</p>
    <div class="col-6 align-items-center d-flex justify-content-center border">
        <div class="input-group">
            <div class="form-check form-check-inline">
                <span type="input-group-text">Check 5</span>
                <input class="form-check-input" type="checkbox" id="check1">
            </div>
            <div class="form-check form-check-inline ms-2">
                <span type="input-group-text">Check 6</span>
                <input class="form-check-input" type="checkbox" id="check2">
            </div>
        </div>
    </div>
</div>













{% endblock %}